name: CI

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  publish:
    name: CI for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        name: [
            linux,
            windows,
            macos
        ]

        include:
          - name: linux
            os: ubuntu-latest
          - name: windows
            os: windows-latest
          - name: macos
            os: macos-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable

      - run: cargo build --all --verbose

      - name: (json_typegen_shared) cargo build --no-default-features
        run: cargo build --no-default-features
        working-directory: json_typegen_shared

      - run: cargo test --all --verbose

      - name: (json_typegen_demo) cargo run
        run: cargo run
        working-directory: json_typegen_demo

      - uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          cache: 'npm'
          cache-dependency-path: json_typegen_web/package-lock.json
      - run: npm ci
        working-directory: json_typegen_web
      - run: npm run build
        working-directory: json_typegen_web
